version: "2.3"
services:
  live-origin:
    image: unifiedstreaming/live:latest
    ports:
      - 80:80
    environment:
      - USP_LICENSE_KEY
      - CHANNEL=${CHANNEL:-test}
      - LOG_LEVEL=warn
      - PUB_POINT_OPTS=--timed_metadata --splice_media --archiving=1 --archive_length=3600 --archive_segment_length=1800 --dvr_window_length=300 --restart_on_encoder_reconnect --hls.client_manifest_version=4 --hls.minimum_fragment_length=144/25 --mpd.minimum_fragment_length=48/25 --mpd.segment_template=time --iss.minimum_fragment_length=48/25 --iss.client_manifest_version=22
    healthcheck:
      test: kill -0 1
      interval: 2s
      timeout: 5s
      retries: 30
      start_period: 5s
  ffmpeg:
    build: ffmpeg
    environment:
      - PUB_POINT_URI=http://live-origin/${CHANNEL:-test}/${CHANNEL:-test}.isml
      - 'TRACKS={ "video": [ { "width": 1280, "height": 720, "bitrate": "700k", "codec": "libx264", "framerate": 25, "gop": 24, "timescale": 50 }, { "width": 1920, "height": 1080, "bitrate": "1000k", "codec": "libx264", "framerate": 50, "gop": 48, "timescale": 50 } ], "audio": [ { "samplerate": 48000, "bitrate": "64k", "codec": "aac", "language": "eng", "timescale": 48000 }, { "samplerate": 48000, "bitrate": "64k", "codec": "aac", "language": "nld", "timescale": 48000 } ] }'
    depends_on:
      live-origin:
        condition: service_healthy
  fmp4ingest: 
    build: fmp4ingest
    environment:
      - PUB_POINT_URI=http://live-origin/${CHANNEL:-test}/${CHANNEL:-test}.isml
      - INTEGER_MULTIPLE_GOP_LENGTH=24
      - AVAIL_INTERVAL=28800
      - AVAIL_LENGTH=9600
      - CMFT=blib-blob-wvtt.cmft
    volumes:
      - ./media:/media/:ro
    depends_on:
      live-origin:
        condition: service_healthy
